@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,500;0,700;1,300&display=swap');

*,
*::after,
*::before{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}




html{
    font-size: 62,5%;
    font-family: 'Rubik', sans-serif;
}

body{
    box-sizing: border-box;
}




//fonts
